// General fonts 
@font-face {
    font-family: 'Grotesk-bold';
    src: url('../font/HKGrotesk-Bold.otf');
}

@font-face {
    font-family: 'Grotesk-BoldItalic';
    src: url('../font/HKGrotesk-BoldItalic.otf');
}

@font-face {
    font-family: 'Grotesk-Italic';
    src: url('../font/HKGrotesk-Italic.otf');
}

@font-face {
    font-family: 'Grotesk-Regular';
    src: url('../font/HKGrotesk-Regular.otf');
}

@font-face {
    font-family: 'Grotesk-SemiBold';
    src: url('../font/HKGrotesk-SemiBold.otf');
}

@font-face {
    font-family: 'Grotesk-SemiBold-Italic';
    src: url('../font/HKGrotesk-SemiBoldItalic.otf');
}